altgraph==0.17.5
anyio==4.13.0
certifi==2026.4.22
darkdetect==0.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
packaging==26.2
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-dotenv==1.2.2
setuptools==82.0.1
websockets==16.0
